.columns {
  margin: 0 auto;
  max-width: var(--wide-page-width);
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns > div > div {
  margin-top: 40px;
  align-items: center;
}

.columns.icons h3::after {
  display: none;
}

.columns.icons > div > div {
  display: flex;
  flex-direction: column;
}

.columns.icons h3 {
  /* placeholder color before section styling gets added */
  color: #000;
}

.columns p {
  margin-bottom: 25px;
}

@media screen and (min-width: 900px) {
  .columns > div {
    align-items: first baseline;
    flex-direction: row;
    gap: 25px;
  }

  .columns.icons h3 {
    text-align: center;
  }

  .columns > div > div {
    flex: 1;
  }
}