.header.block {
  background-color: var(--light-gray);
}

.header.block nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: var(--nav-height);
  background-color: var(--light-gray);
  z-index: 1000;
}

.header.block nav[aria-expanded="true"] {
  height: unset;
}

.header.block .nav-banner {
  display: flex;
  width: 100%;
  max-width: var(--wide-page-width);
  margin: 0 auto;
  justify-content: space-between;
}

.header.block .nav-brand {
  display: flex;
  grid-area: brand;
  align-items: center;
  column-gap: 8px;
}

.header.block .nav-brand .logo {
  display: block;
  height: 64px;
}

.header.block .nav-brand .wordmark {
  height: 18px;
}

.header.block .nav-hamburger {
  display: flex;
  padding-right: 16px;
  grid-area: hamburger;
  align-items: center;
  justify-content: center;
}

.header.block .nav-hamburger .nav-hamburger-icon {
  display: block;
  border: none;
  background-color: transparent;
}

.header.block .nav-hamburger .icon-hamburger,
.header.block nav[aria-expanded="true"] .nav-hamburger .icon-close {
  display: block;
}

/* stylelint-disable-next-line no-descending-specificity */
.header.block .nav-hamburger .icon-close,
.header.block nav[aria-expanded="true"] .nav-hamburger .icon-hamburger {
  display: none;
}

.header.block .nav-hamburger .icon svg {
  display: block;
  height: 25px;
  width: 25px;
}

.header.block .nav-sections {
  display: none;
  flex-basis: 100%;
  background: var(--ghost);
  box-shadow: 0 2px 8px rgba(0 0 0 / 15%);
  z-index: 1000;
}

.header.block nav[aria-expanded="true"] .nav-sections {
  display: block;
}

.header.block .nav-sections ul {
  display: flex;
  flex-direction: column;
}

.header.block .nav-sections a {
  display: block;
  padding: 14px 24px;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: var(--line-height-m);
  letter-spacing: var(--letter-spacing-xs);
  text-decoration: none;
  background-color: transparent;
  color: var(--light-blue);
  white-space: nowrap;
}

.header.block .nav-sections a:hover {
  background-color: var(--sea-blue);
  color: white;
}

@media screen and (min-width: 600px) {
  header {
    position: sticky;
    top: -64px;
  }

  .header.block .nav-brand {
    column-gap: 32px;
  }

  .header.block .nav-hamburger {
    display: none;
  }

  .header.block .nav-sections {
    width: 100%;
    position: sticky;
    top: 0;
    height: 46px;
  }

  .header.block .nav-sections ul {
    max-width: var(--wide-page-width);
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .header.block .nav-sections ul li {
    height: 46px;
    flex: 1 1 auto;
    align-items: center;
  }

  .header.block .nav-sections a {
    display: flex;
    justify-content: center;
    line-height: normal;
    text-align: center;
    border-left: 1px solid var(--silver);
    border-right: 1px solid var(--silver);
  }
}
